/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
	/* colors */
	--color-alpha-10-light: #f0f0f7;
	--color-alpha-light: #a5a4bf;
	--color-alpha: #a38a89;
	--color-alpha-dark: #0e2338;
	--color-alpha-10-dark: #0d0d0d;

	--color-neutral-light: white;
	--color-neutral-dark: #4d4f5c;
	--color-neutral-10-dark: #3b3b53;


	--global-neutral-20-dark: #212634;
    --global-neutral-10-dark: #2B2E3F;
    --global-neutral-5-dark: #444455;
    --global-neutral-dark: #757586;
    --global-neutral-color: #D2D3DA;
    --global-neutral-light: #FDFDFD;
    --global-color-beta: #BA463F;
    --global-color-gamma: #4A7461;

	--global-neutral-dark: #757586;
	--global-neutral-dark-opacity: rgba(117, 117, 134, 0.2);


	/* Shadows */
	--shadow-neutral: 0 2px 6px rgba(0, 0, 0, 0.04);
	--shadow-button: 1px 1px 1px rgba(117, 117, 134, 0.2);

	/* border radius */
	--root-radius: 5px;

	/* transitions */
	--transition: all 0.2s ease;

	/* font-sizes*/
	--root-font-size: 4px;

	--light: 300;
	--regular: 400;
	--medium: 500;
	--bold: 700;

	/* whitespace */
	--global-baseline: 4px;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
	font-size: 15px;
	line-height: 1.5;
	font-family: 'Georama', sans-serif;
	color: #a5d0e1;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,62,121,1) 67%, rgba(0,31,255,1) 100%);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
	background: var(--color-alpha);
	color: white;
	text-shadow: none;
}

::selection {
	background: var(--color-alpha);
	color: white;
	text-shadow: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background: #dedede;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-alpha);
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
	max-width: 100%;
	vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
	font-weight: 400;
}

h1 {
	font-size: 36px;
	line-height: 48px;
	margin: 0 0 24px;
}

h2 {
	font-size: 32px;
	line-height: 40px;
	margin: 0 0 24px;
}

h3 {
	font-size: 26px;
	line-height: 32px;
	margin: 0 0 24px;
}

h4,
h5,
h6 {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
	margin: 0 0 24px;
}

ul,
ol {
	padding-left: 24px;
}

li ul,
li ol {
	margin-bottom: 0;
}

blockquote {
	font-style: normal;
	font-size: 23px;
	line-height: 32px;
	margin: 0 0 24px;
}

blockquote * {
	font-size: inherit;
	line-height: inherit;
}

figcaption {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	margin-top: 8px;
}

hr {
	border: 0;
	height: 1px;
	background: LightGrey;
	margin: 0 0 24px;
}

a {
	transition: all var(--transition-alpha);
	color: var(--color-alpha);
	outline-color: var(--color-alpha);
	outline-width: medium;
	outline-offset: 2px;
}

a:visited,
a:active {
	color: var(--color-alpha);
}

a:hover,
a:focus {
	color: var(--color-alpha-light);
}

label,
input {
	display: block;
}

select {
	width: 100%;
}

input::placeholder {
	color: var(--color-neutral-light);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
	position: relative;
	padding: 24px 24px 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 79.5em; /* 79.5 * 16px = 1272 */
	width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
	list-style: none;
	padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;

	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;

	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;

	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
  landingpage
*/

.c-landing__kop {
	text-align: center;
}

.c-landing__tekst {
	margin-top: calc(var(--global-baseline) * 6);
	border: none;
	background-color: var(--color-alpha-10-dark);
	padding: calc(var(--global-baseline) * 5);
	border-radius: 24px;
	margin-bottom: calc(var(--global-baseline) * 6);
	text-align: justify;
}

.c-landing__sign-up {
	font-weight: var(--bold);
	text-align: left;
}

.c-landing__subtitle {
	text-align: justify;
	font-weight: var(--bold);
}

.c-landing__mock-up {
	justify-content: center;
	align-content: center;
}

.c-landing__img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.c-landing__form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.c-landing__input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	text-align: start;
	padding-top: calc(var(--global-baseline) * 3);
	outline: none;
	width: 100%;
	font-family: inherit;
	font-size: calc(var(--root-font-size) * 4);
	line-height: calc(var(--root-font-size) * 6);
	padding: 11px 16px; /*verticaal 1+11+24+11+1 */
	color: var(--color-alpha-10-dark);
	border: 1px solid #e2e3e7;
	border-radius: 4px;
}

.c-landing__input::placeholder {
	color: #808080;
}

.c-landing__button {
	align-self: end;
	width: 35%;
	padding: 11px 0;
	text-align: center;
	color: var(--color-neutral-light);
	font-weight: var(--bold);
	border: 1px solid var(--global-neutral-20-dark);
	border-radius: calc(var(--root-radius)*2);
	background: var(--global-neutral-10-dark);
	outline: none;
	transition: all 0.1s ease-out;
	font-size: calc(var(--root-font-size) * 4);
	line-height: calc(var(--root-font-size) * 6);
}

.c-img__vandaag {
	height: 360px;
	width: 360px;
}

/*
    Component: Logo
    ---
    Website main logo
*/

.is-selected-land {
	border-bottom: 2px solid white;
}

.c-app {
	justify-content: center;
	align-content: center;
	justify-items: center;
}

.c-app__img-bel {
	width: 50px;
	height: 50px;
	margin-right: calc(var(--global-baseline)*2.5);
	padding-bottom: 1px;
}

.c-app__img-nl {
	width: 50px;
	height: 50px;
	margin-left: calc(var(--global-baseline)*2.5);
	margin-right: calc(var(--global-baseline)*2.5);
	padding-bottom: 1px;
}

.c-app__img-deu {
	width: 50px;
	height: 50px;
	margin-left: calc(var(--global-baseline)*2.5);
	padding-bottom: 1px;
}

.c-app__location-label {
	font-weight: var(--medium);
	font-size: calc(var(--root-font-size)*6);
}

.c-app__a-cases-label {
	font-size: calc(var(--root-font-size)*5);
	font-weight: var(--light);
	color: var(--global-color-beta);
}

.c-app__week-label {
	font-weight: var(--medium);
	font-size: calc(var(--root-font-size)*6);
	margin-bottom: calc(var(--global-baseline)*6);
	text-align: center;
}

.c-app__cases-label {
	font-weight: var(--regular);
	font-size: calc(var(--root-font-size)*4);
}

.c-app__img-bel:hover {
	border-bottom: 2px solid var(--color-alpha);
	padding-bottom: 1px;
	cursor: pointer;
}

.c-app__img-nl:hover {
	border-bottom: 2px solid var(--color-alpha);
	padding-bottom: 1px;
	cursor: pointer;
}

.c-app__img-deu:hover {
	border-bottom: 2px solid var(--color-alpha);
	padding-bottom: 1px;
	cursor: pointer;
}


.c-app__chart {
	text-align: center;
	margin-top: calc(var(--global-baseline)*3);
}

@media screen and (min-width: 320px) {
	.c-app {
		display: grid;
		max-width: 90%;
		margin: auto;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 80px 40px 32px 430px 40px 70px 180px 40px;
		justify-content: center;
		align-items: center;
	}

	.c-landing {
		display: grid;
		max-width: 90%;
		margin: auto;
		grid-template-columns: 1fr;
		grid-template-rows: 600px 480px 40px;
		justify-content: center;
		align-items: center;
	}

	.c-app__location-label {
		font-weight: var(--medium);
		font-size: calc(var(--root-font-size) * 5.5);
	}

	.c-app__a-cases {
		margin-top: calc(var(--global-baseline)*2.5);
	}

	.tooltip-cases {
		font-size: calc(var(--root-font-size) * 4);
	}

	.tooltip-ct {
		font-size: calc(var(--root-font-size) * 4);
	}

	.tooltip-pd {
		font-size: calc(var(--root-font-size) * 4);
	}

	.c-app__a-cases .tooltip-cases {
		visibility: hidden;
		width: 120px;
		background-color: black;
		color: var(--global-neutral-light);
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;

		/* Position the tooltip */
		position: absolute;
		z-index: 1;
	}

	.c-app__a-cases:hover .tooltip-cases {
		visibility: visible;
	}

	.c-app__lastweek .tooltip-ct {
		visibility: hidden;
		width: 140px;
		margin-right: 260px;
		background-color: black;
		color: var(--global-neutral-light);
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;

		/* Position the tooltip */
		position: absolute;
		z-index: 1;
	}

	.c-app__lastweek:hover .tooltip-ct {
		visibility: visible;
	}

	.c-app__amount .tooltip-pd {
		visibility: hidden;
		margin-right: 220px;
		width: 100px;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;

		/* Position the tooltip */
		position: absolute;
		z-index: 1;
	}

	.c-app__amount:hover .tooltip-pd {
		visibility: visible;
	}

	.c-app__week {
		display: grid;
		grid-template-columns: 70px 1fr 1fr;
		grid-template-rows: 50px 50px 50px;
		width: 85%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.c-app__leeg {
		width: 100%;
		height: 100%;
		background: none;
		border-right: 2.5px solid var(--color-alpha);
		border-bottom: 2.5px solid var(--color-alpha);
	}

	.c-app__cases {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background: var(--color-alpha-10-dark);
		border-right: 2.5px solid var(--color-alpha);
		border-bottom: 2.5px solid var(--color-alpha);
		border-left: 2.5px solid var(--color-alpha);
	}

	.c-app__deaths {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background: var(--color-alpha-10-dark);
		border-right: 2.5px solid var(--color-alpha);
		border-bottom: 2.5px solid var(--color-alpha);
		border-left: 2.5px solid var(--color-alpha);
	}
	
	.c-app__amount {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background: var(--color-alpha-10-dark);
		border-right: 2.5px solid var(--color-alpha);
		border-bottom: 2.5px solid var(--color-alpha);
		border-top: 2.5px solid var(--color-alpha);
	}

	.c-app__cijfers {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: var(--global-neutral-20-dark);
		border-right: 1px solid var(--color-alpha);
		border-bottom: 1px solid var(--color-alpha);
	}

	.c-app__lastweek {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background:var(--color-alpha-10-dark);
		border-right: 2.5px solid var(--color-alpha);
		border-bottom: 2.5px solid var(--color-alpha);
		border-top: 2.5px solid var(--color-alpha);
	}
	
	.c-app__weekavg {
		padding-top: calc(var(--global-baseline)*5);
	}

	.c-app__img {
		margin-top: calc(var(--global-baseline)*4);
		margin-bottom: calc(var(--global-baseline)*4);
	}

	.c-app__chart {
		text-align: center;
		margin-top: calc(var(--global-baseline)*3);
		width: 300px;
		height: 400px;
		position: relative;
	}

}

@media screen and (min-width: 480px) {
	.c-app {
		max-width: 80%;
	}

	.c-landing__img {
		width: 55%;
		max-width: 280px;
		padding-right: calc(var(--global-baseline)*2.5);
	}

	.c-app__chart{
		width: 300px;
		margin: auto;
	}

	.c-app__week {
		grid-template-columns: 100px 1fr 1fr;
	}

	.c-app__location-label {
		font-weight: 500;
		font-size: calc(var(--root-font-size)*6);
	}

	.c-img {
		width: calc(var(--global-baseline)*6);
		height: calc(var(--global-baseline)*6);
	}

	.u-border-line {
        width: 30% !important;
    }
}

@media screen and (min-width: 768px) {
	.c-app{
		max-width: 70%;
	}

	.c-app__chart{
		width: 400px;
	}

	.c-landing {
		display: grid;
		max-width: 98%;
		margin: auto;
		grid-template-columns: 500px 1fr;
	}

	.c-landing__img {
		margin-top: calc(var(--global-baseline) * 6);
		width: 100%;
		max-height: 440px;
		max-width: 200px;
		margin-top: -4px;
	}

	.u-border-line {
        width: 25% !important;
    }
}

@media screen and (min-width: 1024px) {
	.c-app {
		max-width: 60%;
	}

	.c-app__chart{
		width: 500px;
	}

	.c-landing__img {
		margin-top: -4px;
		width: 240px;
		margin-left: calc(var(--global-baseline) * 6);
		max-height: 440px;
	}

	.c-landing {
		display: grid;
		max-width: 65%;
		margin: auto;
		grid-template-columns: 500px 1fr;
	}

	.u-border-line {
        width: 20% !important;
    }
}

@media screen and (min-width: 1400px) {
	.c-app {
		max-width: 50%;
	}

	.c-app__chart{
		width: 600px;
	}

	.c-landing__img {
		margin-top: -4px;
		width: 240px;
		max-height: 450px;
		margin-left: calc(var(--global-baseline) * 6);
	}

	.c-landing {
		display: grid;
		max-width: 60%;
		margin: auto;
		padding-left: 170px;
		grid-template-columns: 600px 1fr;
	}

	.u-border-line {
        width: 20% !important;
    }
}

.is-selected,
.c-main-nav__item:hover {
	border-left: var(--baseline) solid var(--color-alpha);
	background-color: var(--color-neutral-10-dark);
	--local-color-alpha-light: var(--color-alpha);
}
/* 
.is-selected .c-icon {
    fill: var(--color-alpha);
} */

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/
.u-grid-column-1 {
	grid-column: span 1;
}

.u-grid-column-2 {
	grid-column: span 2;
}

.u-grid-column-3 {
	grid-column: span 3;
}

.u-grid-column-4 {
	grid-column: span 4;
}

.u-grid-column-5 {
	grid-column: span 5;
}

.u-grid-column-6 {
	grid-column: span 6;
}

.u-grid-column-7 {
	grid-column: span 7;
}

.u-grid-column-8 {
	grid-column: span 8;
}

.u-grid-column-9 {
	grid-column: span 9;
}

.u-grid-column-10 {
	grid-column: span 10;
}

.u-grid-column-11 {
	grid-column: span 11;
}

.u-grid-column-12 {
	grid-column: span 12;
}

.u-grid-row-2 {
	grid-row: span 2;
}
/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
	color: var(--color-neutral);
}

.u-color-neutral-dark {
	color: var(--color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
	padding-top: 0 !important;
}

.u-mb-clear {
	margin-bottom: 0 !important;
}

.u-mb-xs {
	margin-bottom: 4px !important;
}

.u-mb-sm {
	margin-bottom: 8px !important;
}

.u-mb-md {
	margin-bottom: 16px !important;
}

.u-mb-lg {
	margin-bottom: 32px !important;
}

.u-mb-xl {
	margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
	max-width: 27em !important;
}

.u-max-width-sm {
	max-width: 39em !important;
}

.u-max-width-md {
	max-width: 50em !important;
}

.u-max-width-lg {
	max-width: 63.5em !important;
}

.u-max-width-none {
	max-width: none !important;
}

/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
	text-align: center;
}

.u-align-center {
	margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
	font-size: 14px;
}

.u-border-line {
	margin: auto;
	width: 35%;
	background-color: #a5d0e1;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: ' (' attr(href) ')';
	}
	abbr[title]:after {
		content: ' (' attr(title) ')';
	}
	/*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
	a[href^='#']:after,
	a[href^='javascript:']:after {
		content: '';
	}
	pre {
		white-space: pre-wrap !important;
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	/*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}

/*------------------------------------*\
#Buttons
\*------------------------------------*/

.c-link-cta {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    font-weight: var(--bold);
}

/* Custom */
.c-link-cta {
    display: inline-block;
    position: relative;
    padding: calc(var(--global-baseline) * 2)  calc(var(--global-baseline) * 3)  calc(var(--global-baseline) * 2); 
    top: 0;
    background-color: transparent;
    color: var(--global-neutral-color);
    border-radius: calc(var(--root-radius) * 3);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    transition: var(--transition);
}

.c-link-cta:hover {
    top: calc(var(--global-baseline) * -1);
    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
    background-color: var(--global-neutral-5-dark);
    color: #a5d0e1;
    box-shadow: var(--shadow-button);
}

.c-link-cta:active {
    background-color: var(--global-neutral-5-dark);
    color: #a5d0e1;
}

.is-selected {
    background-color: var(--global-neutral-5-dark);
    color: #a5d0e1;
}

/*
Test van bounce icons
*/

.animated { 
	-webkit-animation-duration: 1s;
	animation-duration: 1s; 
	-webkit-animation-fill-mode: both; 
	animation-fill-mode: both; 
 }
 
 @-webkit-keyframes bounce { 
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
	40% {-webkit-transform: translateY(-30px);} 
	60% {-webkit-transform: translateY(-15px);} 
 } 
 
 @keyframes bounce { 
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
	40% {transform: translateY(-30px);} 
	60% {transform: translateY(-15px);} 
 }
 
 .bounce { 
	-webkit-animation-name: bounce; 
	animation-name: bounce; 
 }